body{
  background-image:url("../Images/mpc2000xl_top_lg_v2.png");
  background-repeat: no-repeat;
  background-position: right;
  }

.buttons{
}

#gamePlay{
  width:314px;
  height: 90px;
  background-color: #B8B8B8;
  display:block;
  margin-top: 35px;
  margin-left: 89px;
  border-radius: 5px;
  font-family:'8BITWONDERNominal'; 
  position:relative;
}

#player{
  border:2px solid black;
  height: 700px;
  width:900px;
  display:block;
  float:center;
  margin:auto;
}

#transporter{
  width:220px;
  height: 50px;
  margin-top:420px;
  position: relative;
  margin-left: 163px;
  padding:15px;
}

.buttons{
  width:105px;
  height:50px;
  border-radius: 3px;
  color:white;
}
