
#sampleContainer{
  max-width:368px;
  margin-top: 253px;
  margin-left: 525px;
  border:2px solid transparent;
  position:absolute;
}

#sampler a{
  display:inline-block;
  text-decoration: none;
  height:70px;
  width:70px;
  border:2px solid transparent;
  border-radius: 2px;
  margin:4px 3px;
  margin-right:3px;
  position: relative;
  border-radius:2px;
}

#sampler a:hover{
  box-shadow: 0px 0px 30px purple;
}

#sampler a.playing{
  background-color: purple;
  opacity: 0.5;
}

#sampler a.clicked{
  background-color: orange;
  opacity: 0.6;
}