
#sampleContainer{
  max-width:368px;
  margin-right:7px;
  margin-top: 251px;
  border:2px solid black;
  float:right;
  position:relative;


}

#sampler a{
  display:inline-block;
  text-decoration: none;
  height:70px;
  width:70px;
  border:2px solid black;
  margin:6px 3px;
  margin-right;3px;
  position: relative;
}

#sampler a.playing {
  background-color: orange;
  opacity: 0.5;
}

#sampler a.notPlaying {
  background-color: none;
  opacity:none;
}